a{
    text-decoration: none;
    color: black;
}

.headerTop{
    display: flex;
    justify-content: flex-end;
    height: 5px;
}

.headerTopA{
    font-size: 6px;
    margin: 10px 5px;
    cursor: pointer;
}

header{
    margin:0 auto;

}



.headerTitle>h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.headerTitle{
    background-color: lightgray;
}