#SignInForm{
    border: 0.5px solid rgba(0, 0, 0, .5);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-content: center;
   padding: 50px;
margin-top: 10%;
margin-left: 50%;
transform: translateX(-50%);
}

#SignInForm>h1{
    text-align: center;
}


#SignInForm input{
    width: 100%;
    padding: 0;
    height: 50px;
}

