<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.gowoo.shopping.Mapper.CartMapper">
	<insert id="insertToCart"  parameterType="hashmap">
		insert into cart(user_seq,item_seq,cnt) values(#{user_seq},#{item_seq},#{cnt})
	</insert>
	
	
	
	<select id="getCartList" resultType="map" parameterType="int">
		select * from 
			cart c,item i ,member m
				where c.user_seq = m.seq and
				c.item_seq = i.seq and c.user_seq=#{value};
	</select>
	
</mapper>  